log:
    file: "<%= node[:logfile] %>"

s3:
    bucket: "<%= node[:aws][:s3_bucket] %>"
    akid: "<%= node[:aws][:s3_access_key] %>"
    secret: "<%= node[:aws][:s3_secret] %>"

ec2:
    akid: "<%= node[:aws][:ec2_access_key] %>"
    secret: "<%= node[:aws][:ec2_secret] %>"

benchmark:
    instance_types: "<%= node[:aws][:itypes] %>"
    regions: "<%= node[:aws][:regions] %>"
    images: "<%= node[:aws][:images] %>"